<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body style="background-color:skyblue;">

<form action="" method="post" style="padding:14px;border:1px solid black;margin-right:1000px;text-align:center;border-collapse:collapse;background-color:cornflowerblue;">
    {% csrf_token %}
    <h2>Registration Form</h2>
    <input type="text" name="username" placeholder="Enter your username" style="margin-bottom:5px;background-color: cyan;"><br>
    <input type="text" name="first_name" placeholder="Enter your first name" style="margin-bottom:5px;background-color: cyan;"><br>
    <input type="text" name="last_name" placeholder="Enter your last name" style="margin-bottom:5px;background-color: cyan;"><br>
    <input type="email" name="email" placeholder="Enter your email address" style="margin-bottom:5px;background-color: cyan;"><br>
    <input type="password" name="password" placeholder="Enter your password" style="margin-bottom:5px;background-color: cyan;"><br>
    <input type="password" name="password1" placeholder="Confirm your password" style="margin-bottom:30px;background-color: cyan;"><br>
    <input type="submit" style="margin-right: 120px;">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>
